@use "global" as *;
.c-button__black {
  background: linear-gradient(180deg, #000 0%, #363636 30%, #000 100%);
  border-radius: rem(5);
  border: rem(2) solid $white;
  width: rem(240);
  height: rem(50);
  padding: 0;
  display: flex;
}

.c-button__black-link {
  color: $white;
  font-size: rem(14);
  font-weight: 700;
  letter-spacing: 0.075em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: rem(10) rem(20) rem(10) rem(10);
  &::before {
    // 外側の丸
    content: "";
    position: absolute;
    right: rem(10);
    top: 50%;
    transform: translateY(-50%);
    width: rem(15);
    height: rem(15);
    background-color: $white;
    border-radius: 50%;
  }

  &::after {
    // 中の三角
    content: "";
    position: absolute;
    right: rem(13);
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: rem(5) 0 rem(5) rem(8);
    border-color: transparent transparent transparent $black;
  }

  @include mq(md) {
    font-size: rem(22);

    &::before {
      width: rem(8);
      height: rem(8);
      right: 8%;
      top: 50%;
      transform: translateY(-50%);

      @include mq(md) {
        width: rem(25);
        height: rem(25);
      }
    }

    &::after {
      right: 10%;
      top: 50%;
    }
  }
}
