@use "global" as *;
.p-fv__feature-list {
  display: flex;
}

.p-fv__feature-item {
}

.p-fv__feature-bg {
  width: calc(200 / 750 * 100vw);
  height: calc(200 / 750 * 100vw);
  background-color: $blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid $white;
    border-radius: 50%;
    pointer-events: none;
  }
  @include mq(md) {
    width: 13vw;
    height: 13vw;
  }
}

.p-fv__feature-text {
  font-size: calc(25 / 750 * 100vw);
  font-weight: 700;
  letter-spacing: 0.075em;
  color: $white;
  text-align: center;
  @include mq(md) {
    font-size: 1.5vw;
  }
}
