@use "global" as *;
.c-flow__list {
  width: 90%;
  max-width: rem(600);
  margin-inline: auto;
}

.c-flow__item {
  display: flex;
  align-items: center;
  gap: rem(20);
  @include mq(md) {
    flex-direction: column;
  }
}

.c-flow__icon-base {
  width: calc(220 / 750 * 100vw);
  height: calc(220 / 750 * 100vw);
  background-color: rgba($color: #e6eef6, $alpha: 1);
  border-radius: 50%;
  position: relative;
  @include mq(md) {
    width: calc(100 / 750 * 100vw);
    height: calc(100 / 750 * 100vw);
  }
}

.c-flow__icon-img {
  position: absolute;
  top: 25%;
  left: 25%;
  width: calc(120 / 750 * 100vw);
  height: calc(120 / 750 * 100vw);
  @include mq(md) {
    width: calc(55 / 750 * 100vw);
    height: calc(55 / 750 * 100vw);
  }
}

.c-flow__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c-flow__item-container {
  display: flex;
  flex-direction: column;
}

.c-flow__item-label {
  font-size: rem(19);
  font-weight: 700;
  letter-spacing: 0.075em;
  color: $blue;
  position: relative;
  display: inline-block;
  padding-bottom: rem(12);
  @include mq(md) {
    font-size: rem(22);
    display: block;
    text-align: center;
  }
}

.c-flow__item-label::after {
  content: "";
  width: rem(30);
  height: rem(1);
  background-color: $blue;
  position: absolute;
  bottom: 0;
  left: 0;
  @include mq(md) {
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
}

.c-flow__item-text {
  font-size: rem(14);
  letter-spacing: 0.075em;
  margin-top: rem(16);
}
