@use "global" as *;
.c-learn__list {
}

.c-learn__item {
  display: flex;
  background-color: rgba($color: #489de1, $alpha: 0.2);
  align-items: center;
  padding: rem(22) rem(20);
  gap: rem(10);
  border-radius: rem(8);
  max-width: rem(400);
  margin: 0 auto;
  width: 100%;
  @include mq(md) {
    gap: rem(8);
    flex-direction: column;
    padding-inline: 0;
  }
}

.c-learn__img-wrapper {
  width: rem(100);
  height: rem(70);
}

.c-learn__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.c-learn__text {
  font-size: rem(18);
  font-weight: 700;
  line-height: calc(25 / 18);
  text-align: center;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
  @include mq(md) {
    // margin-top: rem(10);
  }
}
