@use "global" as *;
.c-schedule__list {
  display: flex;
  flex-direction: column;
  gap: rem(30);
  width: calc(690 / 750 * 100vw);
  @include mq(md) {
    gap: rem(10);
  }
}

.c-schedule__item {
  background-color: #e6eef6;
  display: flex;
  flex-wrap: wrap;
  height: calc(470 / 750 * 100vw);
  @include mq(md) {
    flex-direction: row;
    height: auto;
    min-width: rem(767);
  }
}

.c-schedule__date {
  width: calc(170 / 750 * 100vw);
  display: flex;
  flex-direction: column;
  gap: rem(2);
  @include mq(md) {
    flex-direction: row;
    width: calc(280 / 1440 * 100vw);
    height: auto;
  }
}

.c-schedule__day {
  height: calc(110 / 750 * 100vw);
  font-size: rem(16);
  font-weight: 700;
  display: block;
  color: $white;
  background-color: #2a6eae;
  padding-inline: rem(10);
  text-align: center;
  padding-top: 20%;
  @include mq(md) {
    width: 50%;
    height: 100%;
  }
}

.c-schedule__time {
  height: calc(190 / 750 * 100vw);
  font-size: rem(16);
  font-weight: 700;
  display: block;
  color: $white;
  background-color: #6096c8;
  padding: rem(40) rem(10);
  display: flex;
  justify-content: center;
  text-align: left;
  padding-top: 25%;
  @include mq(md) {
    width: 50%;
    height: 100%;
    padding-top: 15%;
  }
}

.c-schedule__content {
  width: calc(500 / 750 * 100vw);
  @include mq(md) {
    width: calc(530 / 1440 * 100vw);
    margin-top: rem(20);
  }
}

.c-schedule__title {
  line-height: calc(20 / 16);
  letter-spacing: 0.075em;
  margin: rem(5) 0 rem(10) rem(10);
}

.c-schedule__text {
  font-size: rem(14);
  padding-inline: rem(15);
}

.c-schedule__btns {
  display: flex;
  gap: rem(5);
  margin: rem(15) auto rem(25);
  @include mq(md) {
    flex-direction: column;
    gap: rem(10);
    width: calc(135 / 1440 * 100vw);
    margin: auto 0 auto rem(20);
  }
}

.c-schedule__btn-blue {
  font-size: rem(16);
  letter-spacing: 0.075em;
  display: block;
  color: $white;
  background-color: #2a6eae;
  padding: rem(15) rem(35);
  border-radius: rem(40);
  text-align: center;

  @include mq(md) {
    padding: 0 !important;
    width: calc(135 / 1440 * 100vw);
    height: calc(40 / 1440 * 100vw);
  }
}

.c-schedule__btn-black {
  font-size: rem(16);
  letter-spacing: 0.075em;
  display: block;
  color: $white;
  background-color: $black;
  text-align: center;
  padding: rem(15) rem(55);
  border-radius: rem(40);
  @include mq(md) {
    padding: 0;
    width: calc(135 / 1440 * 100vw);
    height: calc(40 / 1440 * 100vw);
  }
}
