@use "global" as *;
.p-contact {
}

.p-contact__wrapper {
  background-color: #2a6eae;
  padding-block: rem(60);
  padding-inline: rem(15);
  @include mq(md) {
    padding-block: rem(90);
  }
}

.l-inner {
}

.p-contact__title {
  color: $white;
}

.c-title {
}

.c-title__en {
}

.c-title__ja {
}

.p-contact__inner {
  background-color: $white;
  margin-top: rem(40);
  margin-inline: auto;
  padding: rem(30) rem(15);
  box-sizing: border-box;
  border-radius: rem(15);
  max-width: rem(600);

  @include mq(md) {
    width: calc(1000 / 1440 * 100vw);
    max-width: none;
    margin-top: rem(30);
    padding: rem(70) rem(45) rem(55) rem(50);
  }
}

.p-contact__form {
  width: 100%;
  margin: 0;
  @include mq(md) {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: rem(25); // ラベルと入力欄の間の隙間
    row-gap: rem(10); // 行同士の隙間
  }
}

.p-contact__form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: rem(20);
  letter-spacing: 0.075em;
  @include mq(md) {
    flex-direction: row;
    display: contents;

    &.-medium input {
      @include mq(md) {
        max-width: 58%;
      }
    }

    &.-short input {
      @include mq(md) {
        max-width: 35%;
      }
    }
  }
}

.p-contact__form-item label {
  @include mq(md) {
    align-self: start;
    padding-top: rem(10);
    font-size: rem(18);
  }
}

.p-contact__form-item label {
  font-weight: 700;
  @include mq(md) {
    grid-column: 1 / 2;
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.p-contact__form-item span {
  color: #da0000;
  font-size: rem(11);
  vertical-align: top;
  margin-left: rem(4);
}

.p-contact__form-item input {
  background-color: #e6eef6;
  width: 100%;
  box-sizing: border-box;
  padding: rem(12);
  margin-top: rem(2);
  border: none;
  border-radius: rem(4);
  @include mq(md) {
    grid-column: 2 / 3;
    width: 100%;
  }
}

::placeholder {
  color: transparent;
  @include mq(md) {
    color: #a8a8a8;
    font-size: rem(16);
  }
}

.p-contact__form-select-wrapper {
  @include mq(md) {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    gap: rem(25);
    margin-bottom: rem(5);
  }
}

.p-contact__form-select-wrapper span {
  @include mq(md) {
    margin-left: rem(-10);
  }
}

#year {
  width: rem(100);
  @include mq(md) {
    width: rem(120);
  }
}

#month {
  width: rem(60);
}

.p-contact__form-select-wrapper select {
  padding: rem(10);
  background-color: #e6eef6;
  border: none;
  margin-bottom: rem(20);
  color: transparent;

  appearance: none;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-size: rem(25);
  background-position: right rem(8) center;
  @include mq(md) {
    margin-bottom: 0;
    width: auto;
    color: $black;
    &:invalid,
    &:has(option[value=""]:checked) {
      color: #a8a8a8;
    }
  }
}

option {
  color: $black;
}

.p-contact__form-item textarea {
  margin-top: rem(5);
  height: rem(110);
  background-color: #e6eef6;
  border: none;
  @include mq(md) {
    grid-column: 2 / 3;
    width: 100%;
    height: rem(150);
    padding: rem(15) 0 0 rem(20);
  }
}

.p-contact__form-item label[for="message"] {
  @include mq(md) {
    grid-column: 1 / 2;
    align-self: start;
    padding-top: rem(10);
  }
}

.p-contact__text {
  font-size: rem(14);
  font-weight: 700;
  letter-spacing: 0.075em;
  text-align: center;
  margin-top: rem(25);
  line-height: calc(30 / 14);
  @include mq(md) {
    font-size: rem(16);
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: rem(40);
    margin-left: 18%;
  }
}

.p-contact__privacy {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.p-contact__text a {
  color: #da0000;
  // border-bottom: #da0000 solid rem(1);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.p-contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(225);
  height: rem(50);
  background-color: #2a6eae;
  color: $white;
  margin-inline: auto;
  margin-top: rem(20);
  @include mq(md) {
    width: rem(380);
    height: rem(70);
  }
}

.p-contact__checkbox {
  display: none;
  @include mq(md) {
    display: inline-block;
    margin-inline: rem(20) rem(10);
    width: rem(16);
    height: rem(16);
    vertical-align: middle;
  }
}
