@use "global" as *;
.p-flow {
  margin-top: rem(75);
  @include mq(md) {
    margin-block: rem(60) rem(110);
  }
}

.p-flow__inner {
  margin-inline: auto;
  @include mq(md) {
    width: 100%;
  }
}

.c-title {
}

.c-title__en {
}

.c-title__ja {
}

.c-flow__list {
}

.c-flow__item {
}

.c-flow__icon {
  position: relative;
  &::after {
    content: "";
    width: rem(2);
    height: rem(80);
    background-color: #e6eef6;
    position: absolute;
    top: 100%;
    left: 50%;
    @include mq(md) {
      content: "";
      width: rem(100);
      height: rem(2);
      background-color: #e6eef6;
      position: absolute;
      top: 50%;
      left: 0;
      left: 90%;
    }
  }
}

.c-flow__item:nth-child(5) {
  .c-flow__icon::after {
    display: none;
  }
}

.c-flow__icon-base {
}

.c-flow__icon-img {
}

.c-flow__item-container {
}

.c-flow__item-label {
}

.c-flow__item-text {
}
