@use "global" as *;
.p-header {
  position: fixed !important;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 100vw;
  height: rem(60);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include mq(md) {
    background-image: url("../images/header-pc.jpg");
    height: rem(70);

    transition:
      background-color 0.3s,
      color 0.3s;
    &.is-color-change {
      background-image: none;
      background-color: rgba($color: #fff, $alpha: 0.6);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

      .p-header__link,
      .p-header__nav-title,
      .p-header__nav-link {
        color: #2a6eae;
      }

      .p-header__nav-item::after,
      .p-header__nav-link::after {
        background-color: #2a6eae;
      }
    }
  }
}

.p-header__wrapper {
  margin-inline: rem(16);
  height: 100%;
  display: flex;
  align-items: center;
  @include mq(md) {
    width: 100%;
    margin-inline: 0;
    padding-inline: rem(20) 0;
    justify-content: space-between;
    box-sizing: border-box;
  }
}

.p-header__site-title {
  line-height: 1;
  @include mq(md) {
    margin-left: rem(60);
  }
}

.p-header__link {
  display: block;
  font-size: rem(18);
  font-weight: 700;
  letter-spacing: 0.075em;
  color: $white;
  @include mq(md) {
    font-size: rem(28);
    padding: rem(20) rem(20);
  }
}

.p-header__hamburger {
  position: fixed;
  top: 0;
  right: 5%;
  width: rem(55);
  height: rem(55);
  cursor: pointer;
  z-index: 1000;
  color: $blue;

  @include mq(md) {
    display: none;
    position: static;
    width: 0;
    height: 0;
  }
}

.p-header__hamburger span {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(25);
  height: rem(1);
  background-color: $white;
  border-radius: 9999px;
  transition: all 0.3s ease;
  background-color: #2a6eae;
}

.p-header__hamburger span:nth-child(1) {
  top: calc(50% - rem(5));
}

.p-header__hamburger span:nth-child(2) {
  top: calc(50% + rem(5));
}

.p-header__drawer {
  display: block;
  position: fixed;
  top: rem(55);
  left: 0;
  width: 100%;
  height: calc(100vh - rem(55));
  background-color: $white;
  z-index: 100;
  overflow-y: auto;
  overscroll-behavior: none;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.5s ease;

  &.is-open {
    transform: translateX(0);
  }

  @include mq(md) {
    position: static;
    overflow: visible;
    transform: none;
    width: auto;
    height: auto;
    background-color: transparent;
    top: 0;
    padding: 0;
    margin-left: 0;
    transform: none;
    pointer-events: auto;
    display: flex;
    opacity: 1;
    align-items: center;
    gap: rem(40);
    z-index: 1;
  }
}

.js-hamburger {
}

.js-drawer {
}

.p-header__nav {
  padding: 0 rem(15);
  margin-top: rem(40);
  @include mq(md) {
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.p-header__nav-list {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: clamp(rem(5), 2vw, rem(15));
    margin: 0;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
}

.p-header__nav-item {
  @include mq(md) {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    &::after {
      content: "";
      display: block;
      width: rem(1);
      height: rem(20);
      background-color: $white;
      margin-left: clamp(rem(10), 1.5vw, rem(20));
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.p-header__nav-title {
  font-size: rem(19);
  font-weight: 700;
  letter-spacing: 0.075em;
  color: #2a6eae;
  border-bottom: 1px solid #2a6eae;
  padding: rem(5) 0 rem(5) 0;
  position: relative;
  display: block;
  cursor: pointer;
  top: 100%;
}

.p-header__nav-link {
  cursor: pointer;
  margin-top: rem(28);
  padding-bottom: rem(7);
  @include mq(md) {
    display: flex;
    gap: rem(30);
  }
}

.p-header__nav-title,
.p-header__nav-link {
  display: block;
  position: relative;
  font-size: rem(19);
  font-weight: 700;
  letter-spacing: 0.075em;
  padding: rem(30) rem(10);
  color: #2a6eae;
  border-bottom: 1px solid #2a6eae;
  cursor: pointer;

  &::before {
    // 外側の青い丸
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: rem(20);
    height: rem(20);
    background-color: #2a6eae;
    border-radius: 50%;
  }

  &::after {
    // 中の白い三角
    content: "";
    position: absolute;
    right: rem(5);
    top: 50%;
    transform: translateY(-50%);
    // 三角形の作り方
    border-style: solid;
    border-width: rem(5) 0 rem(5) rem(8);
    border-color: transparent transparent transparent $white;
  }

  @include mq(md) {
    color: $white;
    font-size: rem(18);
    border-bottom: none;
    margin-top: 0;
    font-size: rem(18);
    display: block;
    padding-block: rem(15) rem(15);
    padding-inline: clamp(rem(5), 1vw, rem(15));
    transition:
      color 0.3s ease,
      border-color 0.3s ease;

    &::after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 70%;
      bottom: rem(10);
      width: 100%;
      height: 2px;
      background-color: $blue;
      border: none;
      transform: none;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      color: $blue;
      &::after {
        opacity: 1;
      }
    }

    &::before {
      display: none;
    }
  }
}

.p-header-dropdown__list {
  margin: rem(5) rem(10) rem(10) rem(20);
  @include mq(md) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 200;
    padding: rem(20) rem(30);
    background-color: $white;
    box-shadow: rem(1) rem(1) 0 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(rem(10));
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: rem(-15);
    //   left: 0;
    //   width: 100%;
    //   height: rem(15);
    //   display: block;
    //   background: transparent;
    // }
  }
}

.p-header__nav-item {
  @include mq(md) {
    &:hover {
      .p-header-dropdown__list {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}

.p-header-dropdown__item {
  position: relative;
  padding: rem(15) 0;

  @include mq(md) {
    right: 15%;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      top: 70%;
      left: 0;
      width: 115%;
      height: rem(1);
      display: block;
      background: $blue;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: -10%;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);

      width: rem(8);
      height: rem(8);
      border-top: 1px solid #333;
      border-right: 1px solid #333;
    }
  }
}

.p-header-dropdown__link {
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: 0.075em;
  display: block;
}

.p-header__contact {
  display: none;
  @include mq(md) {
    flex-shrink: 0;
    margin-left: 0;
    display: flex;
    gap: rem(10);
    width: rem(200);
    height: rem(70);
    padding-inline: rem(10);
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #2a6fae 0%, #164978 100%);

    &:hover {
      opacity: 0.7;
    }
  }
}

.p-header__icon-mail {
  display: block;
  fill: $white;
}

.p-header__contact-link {
  color: $white;
  font-size: rem(18);
  font-weight: 700;
  letter-spacing: 0.075em;
  padding-right: rem(10);
}
