@use "global" as *;
.p-schedule {
  margin-top: rem(35);
  @include mq(md) {
    margin-top: rem(110);
  }
}

.p-schedule__title {
  @include mq(md) {
    font-size: rem(40);
  }
}

.p-schedule__wrapper {
  background-color: #f6f6f6;
  padding-block: rem(70) rem(60);
}

.p-schedule__inner {
  width: 100%;
}

.c-title {
}

.c-title__en {
}

.c-title__ja {
}

.p-schedule__list {
  @include mq(md) {
    margin-top: rem(20);
  }
}

.c-schedule__item:first-child {
  height: auto;
  max-width: rem(500);
  @include mq(md) {
    max-width: none;
    height: auto;
  }
}

.c-schedule__date:first-child {
  width: 25%;
  @include mq(md) {
    height: auto;
  }
}

.c-schedule__day:first-child {
  height: 50%;
  padding-top: 20%;

  @include mq(md) {
    height: auto;
    padding-top: 20%;
  }
}

.time-top {
  @include mq(md) {
    height: auto;
    padding-top: 20%;
  }
}
